.DS_Store
**/package-lock.json
**/node_modules
**/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
settings.json
.idea
.devcontainer
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.eslintcache
*.log

.env


# Yarn files
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

release

# Jupyter
notebooks
.env.notebook

# AppMap
tmp/appmap
packages/*/tmp/
packages/cli/tests/unit/fixtures/malformedParentId/parent_id_49_does_not_exist/
*.appmap.json
.navie
.run-stats
.ele*
*.log.json

