$themes: (
  'dark': (
    'background': #010306,
    'edge': #242c41,
    'highlight': #ff07aa,
    'highlight-inbound': #6fddd6,
    'label-light': lighten(#808b98, 35),
    'label-dark': #010306,
    'color-http': #542168,
    'color-package': #6fddd6,
    'color-class': #4362b1,
    'color-database': #8e05f8,
    'color-io': #f92672,
    'color-external-service': #ebdf90,
    'col-int': #f92672,
    'col-string': #a6e22e,
    'col-bool': #66d9ef,
    'col-float': #fd971f,
    'col-object': #ae81ff,
    'node-color': #a1a1a1,
    'node-background': #242c41,
    'node-header': #bababa,
    'node-connection': #808b98,
    'node-event': #471554,
    'node-sql': #113d80,
    'node-static': #525d7b,
    'node-non-static': #525d7b,
  ),
  'light': (
    'background': #ffffff,
    'edge': #889fa5,
    'highlight': #474554,
    'highlight-inbound': #008b69,
    'label-light': #ffffff,
    'label-dark': #ffffff,
    'color-http': #542168,
    'color-package': #008b69,
    'color-class': #919191,
    'color-database': #8e05f8,
    'color-io': #8685ef,
    'color-external-service': #ebdf90,
    'col-int': #f92672,
    'col-string': #a6e22e,
    'col-bool': #66d9ef,
    'col-float': #fd971f,
    'col-object': #ae81ff,
    'node-color': #ffffff,
    'node-background': #068488,
    'node-header': #ffffff,
    'node-connection': #474554,
    'node-event': #471554,
    'node-sql': #113d80,
    'node-static': #525d7b,
    'node-non-static': #525d7b,
  ),
);

$gray1: #010306;
$black: #010306;
$gray2: #242c41; //#171e2f;
$gray3: #343742;
$gray4: #808b98;
$gray5: #e1e2e2;
$gray6: #eaeaea;
$hotpink: #ff07aa;
$dullpink: #7b4669;
$royal: #9c2fba;
$blue: #4362b1;
$lightblue: #768ecb;
$teal: #6fddd6;
$yellow: #ebdf90;
$white: lighten($gray4, 35); // aaaalmost pure white. softened a bit.

$col-int: #f92672;
$col-string: #a6e22e;
$col-bool: #66d9ef;
$col-float: #fd971f;
$col-object: #ae81ff;

$border-radius: 0.5rem;
