body {
  font-size: 14px;
}

a {
  color: $purps;
  transition: $transition;
  &:hover {
    color: darken($purps, 08);
  }
}

.btn-qs {
  border: none;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: $purps;
  color: $gray6;
  font: inherit;
  outline: none;
  appearance: none;
  cursor: pointer;
  transition: $transition;

  &--bordered {
    border: 1px solid $purps;
    padding: 5px 15px;
    background: transparent;
  }

  &:hover {
    background: darken($purps, 08);
  }
}
