$gray1: #010306;
$black: #010306;
$almost-black: #071223;
$gray2: #242c41;
$gray3: #343742;
$gray4: #808b98;
$gray5: #e1e2e2;
$gray6: #eaeaea;
$gray-secondary: #716e85;
$gray-tertiary: #37445f;
$lightgray2: #716e85;
$hotpink: #ff07aa;
$dullpink: #7b4669;
$royal: #9c2fba;
$purps3: #8f81d4b3;
$dark-purple: #4f3fa1;
$blue: #4362b1;
$lightblue: #768ecb;
$brightblue: #3794ff;
$powderblue: #2a84ef;
$success-indicator: #3bf804;
$teal: #6fddd6;
$yellow: #ebdf90;
$darkyellow: #ecd228;
$appland-text: $gray4;
$deep-purple: rgba(17, 1, 38, 1);
$light-purple: #7f6be6;
$light-purple2: #5a43ca;
$white: lighten($appland-text, 35);
$almost-white: lighten($appland-text, 35);
$red2: #fd3055;
$appland-gradient-1: linear-gradient(
  90deg,
  rgba(0, 1, 104, 1) 0%,
  rgba(197, 12, 228, 1) 48%,
  rgba(255, 7, 170, 1) 100%
);
$appland-gradient-2: linear-gradient(90deg, rgba(255, 7, 170, 1) 0%, rgba(156, 47, 186, 1) 100%);
$appland-gradient-3: linear-gradient(0deg, rgba(156, 47, 186, 1) 0%, rgba(255, 7, 170, 1) 100%);
$appland-gradient-4: linear-gradient(
  90deg,
  rgba(255, 7, 170, 1) 0%,
  rgba(156, 47, 186, 1) 50%,
  rgba(67, 98, 177, 1) 100%
);
$navie-gradient: linear-gradient(
  45deg,
  rgba(255, 7, 170, 1) 0%,
  rgba(156, 47, 186, 1) 50%,
  rgba(67, 98, 177, 1) 100%
);
$deep-purple-gradient: linear-gradient(180deg, rgba(17, 1, 38, 1) 37%, rgba(110, 14, 114, 1) 110%);
$alert-danger: #cd1414;

// Alerts
$success-from: rgba(113, 149, 41, 1);
$success-to: rgba(143, 196, 19, 1);
$success: linear-gradient(90deg, $success-from 0%, $success-to 100%);

$danger-from: rgba(222, 25, 50, 1);
$danger-to: rgba(196, 19, 92, 1);
$danger: linear-gradient(90deg, $danger-from 0%, $danger-to 100%);

$general-from: rgba(67, 98, 177, 1);
$general-to: rgba(113, 142, 214, 0.5);
$general: linear-gradient(90deg, $general-from 0%, $general-to 100%);

$col-int: #f92672;
$col-string: #a6e22e;
$col-bool: #66d9ef;
$col-float: #fd971f;
$col-object: #ae81ff;
$ok-status: #e5b219;
$bad-status: #fd3055;

$appland-code: $white;
$appmap-labels: $white;
$appmap-bg: $gray1;
$form-border: $gray2;
$scrollHeight: calc(
  100% - 65px
); // a magic number that compensates for header and footer in forcing scrollbars

$box-shadow: 0px -13px 13px 13px rgba(0, 0, 0, 0.41);
$box-shadow-min: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
$text-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
$border-radius: 0.5rem;
$border-radius-big: 1rem;
$max-width: 1440px;
$transition: all 0.3s ease;
$row-height: 3rem;

$appland-text-font-family: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fa-font-path: '/webfonts';

$overlay: rgba($blue, 0.5);

// Begin sequence diagram

// Elapsed time indication
$sequence-elapsed-time-color: lighten($gray4, 18);

// Vertical box along a lifeline that indicates 'activation' of an actor.
$sequence-activation-gutter-width: 4px;

// Lines that indicate call or return from one actor to another.
$sequence-call-line-width: 3px;
$sequence-call-line-color: $gray4;

// Border around a group element, e.g. a loop.
$sequence-group-border-width: 2px;
$sequence-group-border-color: $white;

// Diff background
$sequence-diff-insert-bg-color: rgba(32, 200, 63, 0.23);
$sequence-diff-delete-bg-color: rgba(246, 47, 47, 0.25);
$sequence-diff-change-bg-color: rgba(71, 122, 184, 0.25);

$actor-highlight: #262b3a;

// End sequence diagram

//VS Code
$web-services: #c61c38;
$vs-code-gray1: #1e1e1e;
$vs-code-gray2: #111010;
$base01: #ffffff;
$base03: #e7e7e7;
$base06: #cccccc;
$base07: #c6c6c6;
$base08: #bbbbbb;
$base09: #a0a0a0;
$base10: #808080;
$base11: #7f7f7f;
$base12: #606060;
$base13: #454545;
$base15: #424750;
$base19: #292929;
$alert-success: #7fc14a;

// Editor common
$color-background: var(--appmap-color-background, #282a36);
$color-background-light: var(--appmap-color-background-light, rgba(white, 0.1));
$color-background-dark: var(--appmap-color-background-dark, rgba(black, 0.1));
$color-highlight: var(--appmap-color-highlight, #2aaaff);
$color-highlight-light: var(--appmap-color-highlight-light, #007fd4);
$color-highlight-dark: var(--appmap-color-highlight-dark, #062f4a);
$color-input-bg: var(--appmap-color-input-bg, #3c3c3c);
$color-input-fg: var(--appmap-color-input-fg, #eff0eb);
$color-button-fg: var(--appmap-color-button-fg, #ffffff);
$color-button-bg: var(--appmap-color-button-bg, #0e639c);
$color-button-bg-hover: var(--appmap-color-button-bg-hover, #1177bb);
$color-selection: var(--appmap-color-selection, #264f78);
$color-border: var(--appmap-color-border, #3c3c3c);
$color-foreground: var(--appmap-color-foreground, #eff0eb);
$color-foreground-secondary: var(--appmap-color-foreground-secondary, white);
$color-foreground-light: var(--appmap-color-foreground-light, white);
$color-foreground-dark: var(--appmap-color-foreground-dark, #eff0eb);
$font-family: var(--appmap-font-family, $appland-text-font-family);
$font-size: var(--appmap-font-size, 14px);
$font-weight: var(--appmap-font-weight, normal);
$color-success: var(--appmap-color-success, #5af78e);
$color-error: var(--appmap-color-error, #ff5c57);
$color-warning: var(--appmap-color-warning, #f3f99d);
$color-link: var(--appmap-color-link, #3794ff);
$color-link-hover: var(--appmap-color-link-hover, #3794ff);
$color-tile-background: var(--appmap-color-tile-background, #252526);
$color-tile-shadow: var(--appmap-color-tile-shadow, rgba(0, 0, 0, 0.36));
$shadow-tile: drop-shadow(2px 2px 2px $color-tile-shadow);
