.flamegraph-common {
  display: block;
  text-align: left;
  font-family: 'IBM Plex Mono', monospace;
  border-style: solid;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flamegraph-popper {
  font-size: 0.8rem;
  font-family: 'IBM Plex Mono', monospace;
}
