.appmap__timeline {
  text-align: center;
  overflow-y: auto;
  overflow-x: scroll;


  .appmap__timeline-graph {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
  }

  .d3-flame-graph-label {
    font-size: 13px;
    margin-left: 5px;
    margin-top: 2px;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 300;
    color: $white;
    text-align: left;
  }

  .d3-flame-graph rect {
    stroke: $gray1;
    fill-opacity: .8;
  }

  @each $scheme, $colors in $themes {
    .appmap--theme-#{$scheme} & {
      $highlight: map-get($colors, 'highlight');

      polyline.highlight {
        stroke: $highlight;
        stroke-width: 4;
        stroke-opacity: 1;
        fill: #fff;
        fill-opacity: 0.1;
        pointer-events: none;
      }

      rect.highlight {
        fill: $highlight;
      }
    }
  }
}






