$themes: (
  'dark': (
    'background': #010306,
    'edge': #242C41,
    'highlight': #FF07AA,
    'highlight-inbound': #6FDDD6,
    'label-light': lighten(#808b98, 35),
    'label-dark': #010306,
    'color-http': #C61C3A,
    'color-package': #6FDDD6,
    'color-class': #4362b1,
    'color-database': #8E05F8,
    'color-io': #f92672,
    'col-int': #f92672,
    'col-string': #a6e22e,
    'col-bool': #66d9ef,
    'col-float': #fd971f,
    'col-object': #ae81ff,
    'node-color': #a1a1a1,
    'node-background': #242C41,
    'node-header': #bababa,
    'node-connection': #808b98,
    'node-event': #471554,
    'node-sql': #113d80,
    'node-static': #525d7b,
    'node-non-static': #525d7b,
  ),
  'light': (
    'background': #FFFFFF,
    'edge': #889fa5,
    'highlight': #474554,
    'highlight-inbound': #008b69,
    'label-light': #FFFFFF,
    'label-dark': #ffffff,
    'color-http': #C61C3A,
    'color-package': #008b69,
    'color-class': #919191,
    'color-database': #8E05F8,
    'color-io': #8685ef,
    'col-int': #f92672,
    'col-string': #a6e22e,
    'col-bool': #66d9ef,
    'col-float': #fd971f,
    'col-object': #ae81ff,
    'node-color': #ffffff,
    'node-background': #068488,
    'node-header': #ffffff,
    'node-connection': #474554,
    'node-event': #471554,
    'node-sql': #113d80,
    'node-static': #525d7b,
    'node-non-static': #525d7b,
  )
);

$gray1: #010306;
$black: #010306;
$gray2: #242C41; //#171e2f;
$gray3: #343742;
$gray4: #808b98;
$gray5: #E1E2E2;
$gray6: #EAEAEA;
$hotpink: #FF07AA;
$dullpink: #7b4669;
$royal: #9C2FBA;
$blue: #4362b1;
$lightblue: #768ecb;
$teal: #6FDDD6;
$yellow: #EBDF90;
$white: lighten($gray4, 35); // aaaalmost pure white. softened a bit.

$col-int: #f92672;
$col-string: #a6e22e;
$col-bool: #66d9ef;
$col-float: #fd971f;
$col-object: #ae81ff;

$border-radius: .5rem;
