/* Welcome */
#intro-details {
  color: $appland-text;
  font-size: .9rem;
  line-height: 1.2rem;
  padding: 0 2rem;
  h3 {
    color: $white;
    margin-bottom: .25rem;
  }
  p {
    margin-top: 0;
  }
  .legend {
    ul {
      padding: 0;
      list-style-type: none;
      li {
        display: flex;
        flex-direction: row;
        p {
          margin: 0;
        }
        align-items: flex-start;
      }
      .icon {
        height: 1rem;
        width: 2rem;
        margin-right: .5rem;
        margin-top: .3rem;
        &.class-pkg {
          background-color: $teal;
        }
        &.class {
          background-color: $blue;
        }
        &.dynamic {
          background-color: $royal;
        }
        &.web-services {
          background-color: $web-services;
        }
        &.database {
          background-color: $royal;
        }
      }
    }
  }
}