.appmap {
  position: relative;
  width: 100%;
  min-width: inherit;
  max-width: inherit;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
  font-size: 14px;
  font-family: 'IBM Plex Mono', monospace;
  overflow: hidden;
  user-select: none;

  &__content {
    display: inline-block;
  }

  @each $scheme, $colors in $themes {
    &.appmap--theme-#{$scheme} {
      background-color: map-get($colors, 'background');
    }
  }

  &.is-grabbing {
    cursor: grabbing;
  }
}
